.Head
	{
		text-align: center;
		background-color: gray;
		color: white;
		margin: 20px;
		font-size: 35px;
		background-color: gray;
		padding-top: 0px;
		padding-bottom: 0px;
		border-radius: 25px;
	}

.Logo
	{
		padding-top: 5%;
	}

